*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid white; */
}

body{
    background-color: #ba4949;
    color: white;
}
/* HEADER O NAV */
.nav-container{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #a74242 ;
}

.logo{
    display: flex;
}
.logo a{
    display: inline-flex;
    text-decoration: none;
    color: white;
}
.logo img{
    width: 40px;
    margin-right: 4px;
}
.logo-title{
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
}


.btn-nav{
    display: flex;
    color: white;
    height: 100%;
    background: none rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    padding: 8px 12px;
    cursor: pointer;
}
.btn-nav img{
    width: 16px;
    margin-right: 5px;
}

/* MAIN */

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.counter{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: fit-content;
    background: none rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 20px;

}

.actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px 0 10px 0;
}

.btn-actions{
    display: flex;
    color: white;
    height: 100%;
    background: none rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

.timer{
    font-size: 10em;
}

.btn-counter{
    display: inline-block;
    margin: 10px 0 10px 0;
}

.btn-start{
    border-radius: 4px;
    border: none;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

.phrase{
    text-align: center;
}

.tasks-container{
    width: 50%;
    
}

.nav-tasks{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3b6b6;
}

.tasks-title {
    display: flex;
    text-align: center;
    align-items: center;
}

.btn-tasks-title{
    display: flex;
    color: white;
    height: 100%;
    background: none rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    border: none;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    padding: 8px 12px;
    margin: 10px;
    cursor: pointer;
}

.btn-tasks-title img{
    height: 20px;
}

.to-do{
    display: flex;

    justify-content: center;
    justify-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px dashed #e3b6b6;
    border-radius: 4px;
    background-color: #a74242;
    height: 40px;
}

.to-do img{
    height: 20px;
    margin-right: 10px;
}

.task-modal{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 50%;
    border: 2px solid #e3b6b6;
    border-radius: 4px;
}
.task-modal label{
    font-size: 20pz;
}
.task-modal input{
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

.buttons-task-container{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(182, 182, 182);
}





.btn-task{
    color: white;
    height: 100%;
    background: none rgba(19, 19, 19, 0.2);
    opacity: 0.9;
    border: none;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    padding: 8px 12px;
    margin: 10px;
    cursor: pointer;
}



/* tasks estilos */
.task{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px dashed #e3b6b6;
    border-radius: 4px;
    background: none rgba(255, 255, 255, 0.2);
    height: 40px;
    width: auto;
}

.progress{
    color: white;
    height: 100%;
    background: none rgba(19, 19, 19, 0.2);
    opacity: 0.9;
    border: none;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    padding: 8px 12px;
    margin: 10px;
    cursor: pointer;
}

.btn-taskModal{
    display: flex;
    color: white;
    height: 100%;
    background: none rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    border: none;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    padding: 8px 12px;
    /* margin: 10px; */
    cursor: pointer;
}
.btn-taskModal img{
    height: 20px;
}